<% if session[:errors] %>
  <p class="alert alert-error">Ooops! Please correct the following: 
    <ul>
    <% session[:errors].each do |msg| %>
        <li class="error"><%= msg %></li>
    <% end %>
    </ul>
  </p>
  <% session[:errors] = nil %>
<% end %>
<%= form_for([@questionnaire, @question]) do |f| %>

  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_field :body %>
  </div>
  <div class="field">
    <%= f.label :category %><br>
    <%= f.collection_select :category_id, Category.all, :id, :name %><hr>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
