<p id="notice"><%= notice %></p>

<h1>Listing Questions</h1>

<%= link_to 'Add New Question', new_questionnaire_question_path(@questionnaire), class: "btn btn-info" %>
<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.reverse_each do |question| %>
      <div class="question_content">
        <% if question.questionnaire %>
          <!-- true -->
          <tr>
            <td>In the past 7 days, I <%= question.body %></td>
            <td>Category: <%= question.category %></td>
            <td class="btn btn-outline-info btn-lg active"><%= link_to 'Show', questionnaire_question_path(question.questionnaire.id, question.id) %></td>
            <% if question.questionnaire.id != 1 %>
              <td class="btn btn-outline-info btn-lg active"><%= link_to 'Edit', edit_questionnaire_question_path(question.questionnaire.id, question.id) %></td>
              <td class="btn btn-outline-info btn-lg active"><%= link_to 'Destroy', destroy_question_path(question.questionnaire, question), method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>

          </tr>
        <% else %>
          <tr>
            <td class="add_question_to_questionnaire">Body: <%= question.body %></td>
            <td class="add_question_to_questionnaire">Category: <%= question.category %></td>
            <td class="add_question_to_questionnaire btn btn-outline-info"><%= link_to "Add this question to a questionnaire", questionnaire_select_path(question) %></td>
        <% end %>
      </tr>
      <% end %>
    </div>
  </tbody>
</table>

<br>
