<h2><%= @category.name %> Factors</h2>
<h4>Over the past 7 days, I...</h4>
<%= form_for @category_rating, url: record_category_path do |f| %>

  <% @questions.each do |question| %>




        <%= question.body %>
        <%= fields_for :ratings do |rating| %>
          <%= select_tag :rating, options_from_collection_for_select(Rating.all, :id, :designation), name: "rating_#{@count}" %>
        <% end %>
        <hr>


        <% @count += 1 %>

  <% end %>
  <%= hidden_field_tag "count", @count %>
  <%= f.submit "Next" %>
<% end %>
