<h2>Welcome to the Quality of Life Tool</h2>
<% if !user_signed_in? %>
  <%= link_to "Log in", '/login' %> <hr>
  <%= link_to "or Sign up", new_user_registration_path %><hr>
  <%= link_to 'Login with Facebook', '/auth/facebook' %>
<% else %>
  <strong>Welcome, <%= current_user.name %></strong> <hr>
  <%= form_for @result, :url => create_result_path do |f| %>
    <%= f.label "Choose a questionnaire (Quality of Life Recommmended)" %><br>
    <%= f.collection_select :questionnaire_id, Questionnaire.all_questionnaires(current_user.id), :id, :name, {:prompt => 'Choose a questionnaire'}, {:required => true} %>
    <%= f.submit "Take Questionnaire" %>
  <% end %>
  <hr>
  <%= link_to "All my Questionnaires", questionnaires_path, id: "questionnaire-index" %> <hr>
  <%= link_to "Create a New Questionnaire", new_questionnaire_path %> <hr>
  <%= link_to "See my Past Results", questionnaire_results_path(Questionnaire.last) %> <hr>
  <div id="questionnaires-list">

  </div>
<% end %>

<script type="text/javascript">
  $("#questionnaire-index").on('click', function(event) {
    event.preventDefault();
    $.ajax({
      url: '/questionnaires',
      type: 'GET'
    }).done(function(questionnaires) {
      $("#questionnaires-list").append("<h2>Questionnaires List</h2>")
      for (var i = (questionnaires.length - 1), l =0; i >= l; i--) {
        //debugger
        $("#questionnaires-list").append(`
          <p>${questionnaires[i]["name"]}</p>
          <p>User: ${questionnaires[i]["user"]["name"]}</p>
          <a href="/questionnaires/${i + 1}/edit">Edit</a> | <a href="/questionnaires/${i + 1}/questions">Go to Questions</a>
          <hr />
        `)

      }
    })
  })
</script>
