<% if session[:errors] %>
  <p class="alert alert-error">Ooops! Please correct the following:
    <ul>
    <% session[:errors].each do |msg| %>
        <li class="error"><%= msg %></li>
    <% end %>
    </ul>
  </p>
  <% session[:errors] = nil %>
<% end %>
<%= form_for @questionnaire do |f| %>
  <%= render 'shared/error_messages', :object => @questionnaire %>


  <%= f.label :name %>
  <%= f.text_field :name %>
  <hr>

  <%= f.label "Use Default Questions" %>
  <%= f.check_box :default %> <hr>

  <h4>Add the First Question</h4>
  <%= f.fields_for :questions do |question| %>
    <div class="field">
      <%= question.label :body %><br>
      <%= question.text_field :body %>
    </div>
    <div class="field">
      <%= question.label :category %><br>
      <%= question.collection_select :category_id, Category.all, :id, :name %><hr>
    </div>

  <% end %>

  <hr>
  <%= f.submit %>
<% end %>
