<script type="text/javascript">
$(function() {
  $('form').submit(function(event) {
    event.preventDefault();
    var values = $(this).serialize();
    var posting = $.post('/questionnaires', values);

    posting.done(function(data) {
      console.log(data);
      debugger
    })
  })
})
</script>
<% if session[:errors] %>
  <p class="alert alert-error">Ooops! Please correct the following:
    <ul>
    <% session[:errors].each do |msg| %>
        <li class="error"><%= msg %></li>
    <% end %>
    </ul>
  </p>
  <% session[:errors] = nil %>
<% end %>
<%= form_for @questionnaire do |f| %>
  <%= render 'shared/error_messages', :object => @questionnaire %>


  <%= f.label :name %>
  <%= f.text_field :name %>
  <hr>

  <%= f.label "Use Default Questions" %>
  <%= f.check_box :default %> <hr>

  <h4>Add the First Question</h4>
  <%= f.fields_for :questions do |question| %>
    <% @question = question %>
    <div id="question_forms">
      <%= render 'questionnaires/form_fields', question: question, question_num: 0 %>
    </div>
  <% end %>
  <%= link_to "New Question", "#", id: "new_question" %>

  <hr>
  <%= f.submit %>
<% end %>

<script type="text/javascript">
  $("#new_question").click(function(event) {
    event.preventDefault();
    var question_form = "<%=j(render 'questionnaires/form_fields', question: @question, question_num: (@question_num = question_num(@question_num)) )%>"
    $("#question_forms").append(question_form)
  })
</script>
