<% if session[:errors] %>
  <p class="alert alert-error">Ooops! Please correct the following:
    <ul>
    <% session[:errors].each do |msg| %>
        <li class="error"><%= msg %></li>
    <% end %>
    </ul>
  </p>
  <% session[:errors] = nil %>
<% end %>
<%= form_for @questionnaire do |f| %>
  <% @f = f %>
  <%= render 'shared/error_messages', :object => @questionnaire %>


  <%= f.label :name %>
  <%= f.text_field :name %>
  <hr>

  <%= f.label "Use Default Questions" %>
  <%= f.check_box :default %> <hr>

  <%= f.button "Create a New Question", id: "new_question" %>
  <div id="question_forms"></div>


  <hr>
  <%= f.submit %>
<% end %>

<script type="text/javascript">
  $("#new_question").click(function(event) {
    event.preventDefault();
    var question_form = "<%= j(render 'questionnaires/question_form', f: @f) %>"
    $("#question_forms").append(question_form)
  })
</script>
