<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

    <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @questionnaire do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <hr>

  <%= f.label "Use Default Questions" %>
  <%= f.check_box :default %> <hr>

  <h4>Add the First Question</h4>
  <%= f.fields_for :questions do |question| %>
    <div class="field">
      <%= question.label :body %><br>
      <%= question.text_field :body %>
    </div>
    <div class="field">
      <%= question.label :category %><br>
      <%= question.collection_select :category_id, Category.all, :id, :name %><hr>
    </div>

  <% end %>

  <hr>
  <%= f.submit %>
<% end %>
