<!DOCTYPE html>
<html>
  <head>
    <title>QOL TOOL</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= analytics_init if Rails.env.production? %>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"></link>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>
    <!--  navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">

      <div class="container">

        <div class="navbar-header">

        <a class="navbar-brand" href="<%= root_url %>"/>Quality of Life Tool</a>

        </div>


        </div><!--/.nav-collapse -->

      </div>

    </div>
    <br><br><br><br>
    <%= content_tag(:div, flash[:error], :id => "flash_error") if flash[:error] %>
    <%= content_tag(:div, flash[:notice], :id => "flash_notice") if flash[:notice] %>

    <!-- content -->
    <div class="container"  role="main">
      <div class=""> <!-- clear the nav pane -->
      </div>
      <%= yield %>
    </div>

  </body>
</html>
